<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
          <p>I'm Thomas. I am a game development student at SintLucas in Eindhoven. I've chosen this path because 
          I've always liked playing games and ever since I started making them, I've come to like them even more.</p>
      </div>
      <div class="col-lg-4">
          <p>I mainly use Unity for my projects, but I've also touched other engines such as the Unreal Engine. 
          I use C# as my main coding language and have been learning C++ as a second language. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
